button {
  border-radius: 0.5rem;  
  padding: 0.5rem;  
  border: none;  
  margin: 0rem 0.5rem;  
}

.Button {
  font-size: 0.7rem;
  font-weight: 700
}

.Button:hover {
  background-color: #181a1b;
  color: white;
  transition: background-color 0.5s ease;
}

@media only screen and (max-width: 600px) {
  button {
    font-size: 0.8rem;
  }  
}